<div class="post {{post_id}}">
    <img src="{{post_avatar}}" class="profile-pic">
    <div class="post-words">
        <p class="author">{{post_author}}</p>
        <p class="post-body">{{post_body}}</p>
        <div class="comment-like">
            <p class="like-counter" title="Likes">{{post_likes}}</p>
            <input class="grey-button buttons" type="button" value="Like">

            <input class="grey-button buttons" type="button" value="Comment">
        </div>
    </div>
    <div class="comments"></div>
</div>