<img src="https://fillmurray.com/50/50" class="profile-pic">
<div class="post-words">
    <p class="author">{{post_author}}</p>
    <p class="post-body">{{post_body}}</p>
    <div class="comment-like {{post_id}}">
        <p class="like-counter">{{post_likes}}</p>
        <div id="comment-like">
            <p class="like-counter">{{post_likes}}</p>


            <input class="unlike-button buttons unlike" id="{{post_id}}" type="button" value="Unlike">

            <input class="comment-button buttons" id="{{post_id}}" type="button" value="Comment">

            <input class="edit-button buttons" id="{{post_id}}" type="button" value="Edit">

            <input class="buttons delete-post delete-button" id="{{post_id}}" type="button" value="Delete">
        </div>
    </div>
</div>